In [1]:
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
df = pd.read_html('/Users/garimajain/Desktop/GRE_GMAT.html', flavor='bs4')

In [3]:
df

[                           0      1
 0  Average undergraduate GPA    3.2
 1               Average GMAT  650.0
 2                Average GRE  308.0]

In [5]:
df1 = df[0]

In [8]:
df1

                           0      1
0  Average undergraduate GPA    3.2
1               Average GMAT  650.0
2                Average GRE  308.0

In [9]:
df1.columns = ['Score Type','Score details']

In [10]:
df1

                  Score Type  Score details
0  Average undergraduate GPA            3.2
1               Average GMAT          650.0
2                Average GRE          308.0

In [12]:
df1.to_csv('GMAT_GRE.csv', index=False, encoding='utf-8')