In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/garimajain/Desktop/LinkedinSkills.csv')

In [5]:
del df['Unnamed: 2']

In [6]:
del df['Unnamed: 3']

In [7]:
del df['Unnamed: 4']

In [9]:
del df['Unnamed: 5']

In [10]:
del df['Unnamed: 6']

In [16]:
df1 = df[:-5]

In [17]:
df1

         Job Profile                       Skills
0   Business Analyst  Software Project Management
1   Business Analyst                    Databases
2   Business Analyst        Requirement Gathering
3   Business Analyst         Requirement Analysis
4   Business Analyst            Business Analysis
5       Data Analyst                            R
6       Data Analyst                          SQL
7       Data Analyst                      Tableau
8       Data Analyst                       Python
9       Data Analyst                    Databases
10  Database Analyst                       MS SQL
11  Database Analyst                          SQL
12  Database Analyst              Database Design
13  Database Analyst        Business Intelligence
14  Database Analyst                    Databases

In [18]:
df1.to_csv('LinkedIn_Skills.csv', index=False, encoding='utf-8')