In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/garimajain/Desktop/SCU_curriculumRevised.csv')

In [5]:
del df['0']

In [8]:
df.to_csv('SCUCurriculumRevised.csv', index=False, encoding='utf-8')

In [9]:
df

,Course,Job Profile 1,Skill 1,Skill 2,Skill 3,Skill 4
0,Information Systems Analysis and Design,Business Analyst,Software Project Management,Requirement Gathering,Requirement Analysis,Business Analysis
1,Database Management Systems,Business Analyst,SQL,MS SQL,Databases,Database Design
2,Software Project Management,Business Analyst,Software Project Management,Software Development Life Cycle,NaN,NaN
3,Computer-Based Decision Models,Data Analyst,Analytics,NaN,NaN,NaN
4,Business Intelligence and Data Warehousing,Data Analyst,Business Intelligence,NaN,NaN,NaN
5,Big Data Modeling and Analytics,Data Analyst,Big Data Analysis with Hadoop,NaN,NaN,NaN
6,"Dashboards, Scorecards, and Visualization",Data Analyst,Tableau,Data Analytics,NaN,NaN
7,Data Science Analysis with Python,Data Analyst,Python,Data Analytics,NaN,NaN
8,Database Management Systems,Database Analyst,SQL,MS SQL,Databases,Database Design
9,Business Intelligence and Data Warehousing,Database Analyst,Business Intelligence,NaN,NaN,NaN