In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/garimajain/Desktop/USF_curriculum.csv')

In [4]:
del df['Course Number']

In [5]:
df

,Course Name,Job Profile,Skill 1,Skill 2,Skill 3,Skill 4
0,Database,Business Analyst,Relational Databases,Database Design,NaN,NaN
1,"Analysis, Modeling and Design",Business Analyst,Requirement Gathering,Requirement Analysis,Business Analysis,Software Project Management
2,Managing Project and Change,Project Manager,Software Project Management,NaN,NaN,NaN
3,Business Intelligence and Data Warehousing,Data Analyst,Business Intelligence,NaN,NaN,NaN
4,Business Intelligence and Data Warehousing,Database Analyst,Business Intelligence,NaN,NaN,NaN
5,Database,Database Analyst,Relational Databases,Database Design,NaN,NaN

In [6]:
df.to_csv('USFCurriculum.csv', index=False, encoding='utf-8')